        <div class="container" ng-controller="FruitController">
    	<div id="map"></div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
        <ui-gmap-markers models="markers" coords="'self'" events="markersEvents" icon="'icon'">
          <ui-gmap-windows show="true">
                <div ng-non-bindable> name: {{name}} desc:{{description}} id:{{id}}</div>
          </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
    </div>
        <div class="container" ng-controller="MarkerController">
    
      <div class="page-header">
        <h1>Boat listing</h1>
      </div>
      
      <div class="alert alert-info" role="alert" ng-hide="markers &amp;&amp; markers.length > 0">
        There are no boats yet.
      </div>
      <form class="form-horizontal" role="form" ng-submit="addMarker(newItem)">
        <div class="form-group" ng-repeat="item in markers">
          <div class="checkbox col-xs-9">
            <label>
              <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-danger" type="button" title="Delete"
              ng-click="deleteItem(item)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <hr />
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newItem" placeholder="Enter the description..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    
    <div class="container" ng-controller="FruitController">
      <div class="page-header">
        <h1>A harbour list</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="items &amp;&amp; items.length > 0">
        There are no harbours yet.
      </div>
      <form class="form-horizontal" role="form" ng-submit="addItem(newItem,isChecked)">
        <div class="form-group" ng-repeat="item in items">
          <div class="checkbox col-xs-9">
            <label ng-click="editFruit(item.id)">
              <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-danger" type="button" title="Delete"
              ng-click="deleteItem(item)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <hr />
                 <p> Min frukt: {{myFruit}} <br> kryssad: {{isChecked}}</p>
        
        <div class="input-group"> 
              <span class="input-group-addon">
                  <input  style="float:left"  type="checkbox" ng-model="isChecked" ng-init="isChecked=false" />
              </span>
          <select class="form-control" ng-model="newItem" ng-init="">
          <option ng-repeat="fruit in fruits" value="{{fruit}}">{{fruit}}</option>
          
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </form>
      
   
    </div>
    
    