
 <div class="container">
 
<div ng-controller="FruitController" class="page-header">
        <h1>A Fruit list!</h1>
      
      <div class="alert alert-info" role="alert" ng-hide="fruitService.items &amp;&amp; fruitService.items.length > 0">
        There are no fruits yet.
      </div>
      <form class="form-horizontal" role="form" ng-submit="addItem(newItem,isChecked)">
        <div class="form-group" ng-repeat="item in fruitService.items">
          <div class="checkbox col-xs-9">
            <label ng-click="editFruit(item.id)">
              <input type="checkbox" ng-model="item.checked" ng-change="updateItem(item)"/> {{item.description}}
            </label>
          </div>
          <div class="col-xs-3">
            <button class="pull-right btn btn-danger" type="button" title="Delete"
              ng-click="deleteItem(item)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>
        </div>
        <hr />
        <p> Min frukt: {{myFruit}} <br> kryssad: {{isChecked}}</p>
        
        <div class="input-group"> 
              <span class="input-group-addon">
                  <input  style="float:left"  type="checkbox" ng-model="isChecked" ng-init="isChecked=false" />
              </span>
          <select class="form-control" ng-model="newItem">
          <option ng-repeat="fruit in fruits" value="{{fruit}}">{{fruit}}</option>
          
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newItem" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </form>
 </div>
 
    <div class="row">
      <div class="col-lg-8" ng-controller="PaginatorController">
        <div  class="my-controller">
          <h1>Tasty Paginated Menu</h1>

          <small>this is in "MyController"</small>
          <div class="row">
            <div class="col-xs-4">
              <h3>Meals Page: {{ currentPage }}</h3>
            </div>
            <div class="col-xs-4">
              <label for="search">Search:</label>
              <input ng-model="searchService.filter" id="search" class="form-control" placeholder="Filter text">
            </div>
            <div class="col-xs-4">
              <label for="search">items per page:</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="searchService.itemsPerPage">
            </div>
          </div>
          <br>
          <div class="panel panel-default">
            <div class="panel-body">

              <ul>
                <li dir-paginate="meal in fruitService.items | filter:searchService.filter | itemsPerPage: searchService.itemsPerPage" total-items="totalMeals" current-page="searchService.page">
                  <a ui-sref="details({id:meal.id})">{{ meal.id }}</a> | {{ meal.description }} | {{ meal.checked }}
                  <button class="pull-right btn btn-danger" type="button" title="Delete" ng-click="deleteItem(meal)">
                    <span class="small glyphicon glyphicon-trash"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div  class="other-controller">
          <small>this is also in "OtherController"</small>
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/app/pagination/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>